@CHARSET "UTF-8";
.head{
	
	height:150px;
	border: 1px solid #000000;
}
.body{
	width:1400px; height:700px; border: 1px solid #000000;margin:auto;
}
.posts{
	position:relative; margin:auto;top:5%;
	width:1200px; border: 1px solid #000000;
}
.title{
	position:relative; margin:auto;
	width:1200px; height:80px; border: 1px solid #000000;
}
.value{
	position:relative; margin:auto;
	width:1200px; height:360px; border: 1px solid #000000;
	
}